body{
    font-family: 'Roboto Condensed', sans-serif;
}
.materialImg{
    width: 100px;
    height: 80px;
    margin-top: 10px;
    margin-right: 10px;
}
.career{
    width: 100px;
}
.stretched-link{
    color: black;
}
.stretched-link:hover{
  color: black;
}
.btn{
    color: black;
    background-color: #5995fd;
    border-radius: 200px;
}
.btn:hover{
    background-color: #4d84e2;
}
.peers{
    width: 100px;
    height: 80px;
}
#course-head{
  color: #5995fd;
  background-color: rgb(33, 37, 41);
}
.carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
    .carousel-inner {
      display: flex;
    }
  }
  .card .img-wrapper {
      max-width: 100%;
      height: 13em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card img {
      max-height: 100%;
  }
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }


  #name{
    color: #5995fd;
  }

  .card {
    margin-top: 5%;
    border-bottom: 2.5px solid gold !important; 
    border-radius: 0;
    line-height: 1.3;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }
  
  .card-body::after {
    height: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2.5px solid gold !important; 
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  .card-body::before,
  .card-body::after {
    background: lemonchiffon;
    content: '';
    position: absolute;
    z-index: -1;
  }
  
  .card:hover {
    color: #000;
  }
  
  .card:hover .card-body:after {
    height: 100%;
    color: #fff;
  }
  
  .card-body {  
    position: relative;
    z-index: 0;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  
  .card-img, .card-img-top {
    z-index: 1;
  }
  
  .card-text {
    margin-bottom: 1rem;
  }
  
  .card-date {
    color: grey;
  }